@import "../styles/reset.css";
body {
  background-color: white;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.6;
}
body .loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/bat_flying_by_paci.gif") 50% 50% no-repeat #ede5f8;
  opacity: 0.8;
}
body .hide {
  display: none;
}
body .margin {
  padding-top: 140px;
}
body .title-1 {
  margin: 24px;
  text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
  color: #2F4F4F;
  float: left;
}
body .show {
  padding-top: 50px;
}
body .active {
  display: block;
}
body header {
  position: fixed;
  width: 100%;
  height: 95px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
body header .search {
  width: 24px;
  height: 24px;
  margin: 32px 0px 32px 48px;
}
body header input {
  text-align: left;
  font-size: 24px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-indent: 16px;
  outline: none;
  border: none;
  text-shadow: 10px 8px #ccf, -10px 12px #fcf, -8px -12px #cfc, 12px -5px #fc9;
  color: #413d3d;
}
body header .nav-menu {
  width: 20%;
  text-align: center;
  align-items: center;
  display: none;
}
@media only screen and (max-width: 600px) {
  body header .nav-menu {
    display: block;
  }
}
body header .nav-menu .fa-bars {
  margin: 32px auto;
  font-size: 24px;
  color: grey;
}
@media only screen and (max-width: 600px) {
  body .main {
    position: relative;
  }
}
body .main .banner {
  width: calc(100% - 90px);
  height: 475px;
  background-image: url("../images/assets/batman.jpg");
  background-color: white;
  float: right;
}
@media only screen and (max-width: 600px) {
  body .main .banner {
    height: 150px;
    background-image: none;
  }
}
body .main .banner h1 {
  margin: 100px 40px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
  color: #2F4F4F;
}
@media only screen and (max-width: 600px) {
  body .main .banner h1 {
    display: none;
  }
}
body .main aside {
  margin-top: 95px;
  width: 90px;
  background-color: white;
  position: fixed;
}
@media only screen and (max-width: 600px) {
  body .main aside {
    width: 100%;
    position: absolute;
  }
}
body .main aside .menu {
  text-align: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  body .main aside .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c9c6cf;
    text-align: center;
  }
}
body .main aside .menu .option {
  color: #0d0d35;
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.3px solid grey;
}
@media only screen and (max-width: 600px) {
  body .main aside .menu .option {
    width: 25%;
    height: 150px;
    margin: 0;
    border: 0.3px solid #0e0000;
  }
  body .main aside .menu .option:hover {
    color: #681d1d;
    background-color: rgba(186, 207, 207, 0.308);
  }
}
body .main aside .menu .option .img-icon {
  width: 24px;
  margin: 15% 30%;
  display: block;
}
@media only screen and (max-width: 600px) {
  body .main aside .menu .option .img-icon {
    width: 30%;
    margin: 16px auto;
  }
}
body .main aside .menu .option:hover {
  color: #000000;
  background-color: rgba(186, 207, 207, 0.308);
}

.wrapper {
  width: calc(100% - 90px);
  float: right;
  background-color: rgba(186, 207, 207, 0.308);
}
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper .content-section-title {
  width: 100%;
  height: 80px;
  text-align: baseline;
  margin-top: 24px;
}
.wrapper .content-section-title .title-section {
  text-align: left;
  margin-left: 48px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
  color: #2F4F4F;
  display: inline-block;
}
.wrapper .content-section-title .movies-link {
  text-align: center;
  font-size: 16px;
  margin-left: 70%;
  margin-right: 8px;
  font-weight: bold;
  transition: transform 0.5s;
  color: #31223f;
}
.wrapper .content-section-title .movies-link:hover {
  color: #af8a10;
  text-shadow: #2F4F4F 1px;
}
.wrapper .content-section-title .movies-link .result {
  padding-left: 4px;
}
.wrapper .movies-list {
  width: 100%;
  height: 400px;
  margin: 24 auto;
  display: flex;
}
.wrapper .movies-list .movies-item {
  width: 22%;
  margin: 0 1.5%;
  height: 75%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(186, 207, 207, 0.308);
}
.wrapper .movies-list .movies-item .movie-img {
  width: 100%;
  transition: transform 0.5s;
}
.wrapper .movies-list .movies-item .movie-img:hover {
  transform: scale(1.1);
}
.wrapper .movies-list .title {
  margin-top: 32px;
  color: #505072;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  transition: transform 0.5s;
}
.wrapper .movies-list .title:hover {
  color: #acb465;
  transform: scale(1.1);
}
.wrapper .btn-more {
  margin: 2% 40%;
  padding: 0 16px;
  border-radius: 2px;
  background-color: #018786;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: background-color 15ms linear, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 36px;
  line-height: 2.25rem;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.wrapper .btn-more:hover, .wrapper .btn-more:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #159090;
}
.wrapper .btn-more:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #61b4b3;
}

/*# sourceMappingURL=styles.css.map */
