@import "../styles/reset.css";

@import "../styles/variables.scss";

@mixin flexbox ($flexDirection, $justifyContent, $alignItems){
    display:flex;
    flex-direction: $flexDirection;
    justify-content:$justifyContent;
    align-items:$alignItems;
}

@mixin borderBox(){
    box-sizing: border-box;
}


body {
	background-color: $color_4;
	font-family: $font_0, $font_1;
	line-height: 1.6;
	.loader {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: $url_0 50% 50% no-repeat $color_5;
		opacity: 0.8;
	}
	.hide {
		display: none;
	}
	.margin {
		padding-top: 140px;
	}
	.title-1 {
		margin: 24px;
		text-shadow: 1px 1px $color_6, 2px 2px $color_7, 3px 3px $color_6, 4px 4px $color_7;
		color: $color_8;
		float: left;
	}
	.show {
		padding-top: 50px;
	}
	.active {
		display: block;
	}
	header {
		position: fixed;
		width: 100%;
		height: 95px;
		background-color: $color_4;
		display: flex;
		flex-direction: row;
		.search {
			width: 24px;
			height: 24px;
			margin: 32px 0 32px 48px;
		}
		input {
			text-align: left;
			font-size: 24px;
			box-sizing: border-box;
			width: 50%;
			height: 100%;
			text-indent: 16px;
			outline: none;
			border: none;
			text-shadow: 10px 8px $color_9, -10px 12px $color_10, -8px -12px $color_11, 12px -5px $color_12;
			color: $color_13;
		}
			
			.fa-bars {
				width: 20%;
			    text-align: center;
			    align-items: center;
			    display: none;
				margin: 32px auto;
				font-size: 32px;
                color: $color_14;
             &:hover{
                 .aside{
                    display:block;
                   }
                }
			}
		}
	
	.main {
		.banner {
			width: calc(100% - 90px);
			height: 475px;
			background-image: $url_1;
			background-color: $color_4;
			float: right;
			h1 {
				margin: 100px 40px;
				font-size: 40px;
				font-weight: bold;
				text-shadow: 1px 1px $color_6, 2px 2px $color_7, 3px 3px $color_6, 4px 4px $color_7;
				color: $color_8;
			}
		}
		aside {
			margin-top: 95px;
			width: 90px;
			background-color: $color_4;
			position: fixed;
			.menu {
				text-align: center;
				align-items: center;
				.option {
					color: $color_15;
					background-color: $color_4;
					font-weight: bold;
					font-size: 12px;
					width: 100%;
					height: 95px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					border-bottom: 0.3px solid $color_14;
					
				    strong{
						color: $color_25;
					}
					&:hover{
				        transform: scale(1.1);
					}
					.img-icon {
						width: 24px;
						margin: 15% 30%;
						display: block;
					}
					&:hover {
						color: $color_16;
						background-color: $color_3;
					}
				}
			}
		}
	}
}
.total {
	width: calc(100% - 90px);
	float: right;
	background-color: $color_3;
	margin-top: 95px;
	.total-div {
		height: 24px;
		display: flex;
		flex-direction: row;
		margin: 24px;
		.title-section {
			text-align: left;
			font-size: 20px;
			font-weight: bold;
			text-shadow: 1px 1px $color_6, 2px 2px $color_7, 3px 3px $color_6, 4px 4px $color_7;
			color: $color_8;
			display: inline-block;
		}
		.total-span {
			color: $color_8;
			font-size: 16px;
			padding-top: 8px;
			margin-left: 70%;
			font-weight: bold;
		}
	}
	.ul-total {
		width: 100%;
		margin: 24 auto;
		.results-li {
			width: 200px;
			height: 280px;
			margin: 24px;
			display: inline-block;
			.movie-img {
				width: 100%;
				transition: transform 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
			.title {
				margin-top: 24px;
				color: $color_17;
				text-align: center;
				font-size: 10px;
				font-weight: bold;
				transition: transform 0.5s;
				&:hover {
					color: $color_18;
					transform: scale(1.3);
				}
			}
		}
	}
	.btn-more {
		margin: 2% 40%;
		padding: 0 16px;
		border-radius: 2px;
		background-color: $color_19;
		box-shadow: 0 3px 1px -2px $color_16, 0 2px 2px 0 $color_16, 0 1px 5px 0 $color_16;
		color: $color_4;
		transition: background-color 15ms linear, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
		height: 36px;
		line-height: 2.25rem;
		font-family: $font_2, $font_3;
		font-size: 0.875rem;
		font-weight: 500;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		&:hover {
			box-shadow: 0 2px 4px -1px $color_16, 0 4px 5px 0 $color_16, 0 1px 10px 0 $color_16;
			background-color: $color_20;
		}
		&:focus {
			box-shadow: 0 2px 4px -1px $color_16, 0 4px 5px 0 $color_16, 0 1px 10px 0 $color_16;
			background-color: $color_20;
		}
		&:active {
			box-shadow: 0 5px 5px -3px $color_16, 0 8px 10px 1px $color_16, 0 3px 14px 2px $color_16;
			background-color: $color_21;
		}
	}
}
.wrapper {
	width: calc(100% - 90px);
	float: right;
	background-color: $color_3;
	.content-section-title {
		width: 100%;
		height: 80px;
		text-align: baseline;
		margin-top: 24px;
		.title-section {
			text-align: left;
			margin-left: 48px;
			font-size: 24px;
			font-weight: bold;
			text-shadow: 1px 1px $color_6, 2px 2px $color_7, 3px 3px $color_6, 4px 4px $color_7;
			color: $color_8;
			display: inline-block;
		}
		.movies-link {
			text-align: center;
			font-size: 16px;
			margin-left: 70%;
			margin-right: 8px;
			font-weight: bold;
			transition: transform 0.5s;
			color: $color_22;
			&:hover {
				color: $color_23;
				text-shadow: $color_8 1px;
			}
			.result {
				padding-left: 4px;
			}
		}
	}
	.movies-list {
		width: 100%;
		height: 400px;
		margin: 24 auto;
		display: flex;
		.movies-item {
			width:22%;
			margin: 0 1.5%;
			height: 75%;
			flex-direction: row;
			justify-content: space-between;
			
			.movie-img {
				width: 100%;
				transition: transform 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.title {
			margin-top: 32px;
			color: $color_17;
			text-align: center;
			font-size: 12px;
			font-weight: bold;
			transition: transform 0.5s;
			&:hover {
				color: $color_24;
				transform: scale(1.1);
			}
		}
	}
}
 
.modal {
	width: 100%;
	height: 100vh;
	background-color: $color_25;
	opacity: 0.98;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: auto;
	.contentModal {
		width: 768px;
		height: 700px;
		position: relative;
		z-index: 5;
		background-color: $color_4;
		margin: 40px auto;
		.modal-header {
			height: 350px;
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				background: $color_25;
				opacity: 0.85;
			}
		}
		.modal-info {
			@include flexbox(row, flex-start, flex-start);
			flex-wrap: wrap;  
			
		}
		.close {
			width:40px;
            height: 40px;
            @include flexbox(row, center, center);
            position:absolute;
            top:0;
            right:0;
            cursor:pointer;
			i {
				width: 20px;
				height: 20px;
				color: $color_4;
			}
			&:hover {
				background-color: $color_26;
			}
		}
		.content-modal-info {
			width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
             @include flexbox(row, center, center);
             @include borderBox();

            .modalPoster {
				width:50%;
				height: 100%;
				@include flexbox(row, center, flex-start);
				img {
					width: 300px;
					margin-top: 40px;
				}
			}
			.modal-movie-info {
				width:50%;
                height: 60%;
                padding-right: 30px;
                 @include borderBox();
                 @include flexbox(column, flex-start, flex-start);

				
				h4 {
					font-size: 30px;
					font-weight: 500;
					line-height: 1.4;
					color: $color_27;
					margin: 0;
				}
				p {
					font-size: 14px;
					font-weight: 300;
					color: $color_4;
					margin-top: 10px;
				}
				.more-info {
					position: absolute;
                    top: 358px;
                    padding-right: 30px;
                    @include borderBox();

					
					span {
						font-size: 14px;
						font-weight: 300;
						line-height: 1.8;
						color: $color_25;
						padding-right: 40px;
					}
					h5 {
						margin-top: 10px;
						margin-bottom: 0;
						font-weight: 400;
						text-transform: uppercase;
						font-size: 16px;
						color: $color_27;
					}
					p {
						color: $color_25;
						margin-top: 5px;
					}
				}
			}
		}
	}
}
.hide {
	display: none !important;
}
.hide-scroll {
	height: 80vh;
	overflow: hidden !important;
}
.spinner {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 32;
	background-color: transparent;
	border-top: 5px solid $color_4;
	border-right: 5px solid $color_4;
	border-bottom: 5px solid $color_4;
	border-left: 5px solid $color_4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 0.8s;
	animation-name: spinner-loading;
	&:after {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 32;
	}
}
@keyframes spinner-loading {
	0% {
		transform: rotate(0deg);
	}
	to {
	
		transform: rotate(1turn);
	}
}
@media only screen and(max-width: 600px) {
	body {
    .header{
      .input{
        font-size: 16px;
      }
      width: 600px;
        .input{
          font-size: 16px;
        }
    }
     .fa-bars{
	  display: block;
	 
     }
     
      
		.main {
			position: relative;
			.banner {
				height: 150px;
				background-image: none;
				h1 {
					display: none;
				}
      }
      
			aside {
				width: 100%;
                position: absolute;
				.menu {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					background-color: $color_0;
					text-align: center;
					.option {
						width: 25%;
						height: 150px;
						margin: 0;
						border: 0.3px solid $color_1;
						&:hover {
							color: $color_2;
                            background-color: $color_3;
              
						}
						.img-icon {
							width: 30%;
							margin: 16px auto;
						}
					}
				}
			}
    }
    .wrapper {
         margin:0;
		 width: 100%;
		 
		          
			 }  
			
    .total {
      width: 100%;
      margin-top: 240px;
	}
	.modal{
		.contentModal{
				width: 100%;
				height: 700px;
				margin: 0;
		
				.modal-header{
					height: 350px;
					position: relative;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;    
				}
		
				.modal-header:before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 0;
					width: 100%;
					height: 100%;
					opacity: 0.85;    
				}
		
				.modal-info{
					@include flexbox(row, flex-start, flex-start);
					flex-wrap: wrap;  
				}
		
				.close{
					width:40px;
					height: 40px;
					@include flexbox(row, center, center);
					position:absolute;
					top:0;
					right:0;
					cursor:pointer;
		
					i{
						width:20px;
						height: 20px;
		
					}
				}
		       .content-modal-info{
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
					@include flexbox(row, center, center);
					@include borderBox();
		
					.modalPoster{
						display:none;
					}
		
					.modal-movie-info{
						width:100%;
						height: 60%;
						padding: 20px;
						@include borderBox();
						@include flexbox(column, flex-start, center);
		
						h4{
							font-size: 13px;
							font-weight: 300;
							line-height: 1.8;
							margin:0;
		
						}
		
						p{
							font-size: 14px;
							font-weight: 300;
							margin-top: 20px;
						}
						
						.more-info{
		
							position: absolute;
							top: 358px;
							padding-right: 30px;
							@include borderBox();
		
							span{
								font-size: 14px;
								font-weight: 300;
								line-height: 1.8;
							}
		
							h5{
								margin-top: 20px;
								font-size: 14px; 
							}
						}
					}
				}
			}    
		}
	}
}
		
	
