 //colors
$color_0: rgb(201, 198, 207);
$color_1: rgb(14, 0, 0);
$color_2: rgb(104, 29, 29);
$color_3: rgb(186, 207, 207);
$color_4: rgb(255, 255, 255);
$color_5: rgb(237, 229, 248);
$color_6: rgb(102, 102, 102);
$color_7: rgb(134, 214, 211);
$color_8: rgb(47, 79, 79);
$color_9: rgb(204, 204, 255);
$color_10: rgb(255, 204, 255);
$color_11: rgb(204, 255, 204);
$color_12: rgb(255, 204, 153);
$color_13: rgb(65, 61, 61);
$color_14: rgb(128, 128, 128);
$color_15: rgb(13, 13, 53);
$color_16: rgb(0, 0, 0);
$color_17: rgb(80, 80, 114);
$color_18: rgb(110, 9, 102);
$color_19: rgb(1, 135, 134);
$color_20: rgb(21, 144, 144);
$color_21: rgb(97, 180, 179);
$color_22: rgb(49, 34, 63);
$color_23: rgb(175, 138, 16);
$color_24: rgb(172, 180, 101);
$color_25: rgb(8, 28, 36);
$color_26: rgb(117, 119, 112);
$color_27: rgb(218, 115, 20);

//fonts
$font_0: "Roboto";
$font_1: "sans-serif !important";
$font_2: "Roboto";
$font_3: "sans-serif";

//urls
$url_0: url("../images/bat_flying_by_paci.gif");
$url_1: url("../images/assets/batman.jpg");

/*Usar nombres de variables más descriptivos.*/